// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table{
    width: 100%;
}
th{
    font-style: italic;
    font-weight: normal;
    font-size: large;
}

.field{
    font-size: large;
}

img{
    height: auto;
    width: auto;
}

.center{
    display: flexbox;
    margin: 0 auto; 
    text-align: center;
}