<h1>Community Collective for Homelessness</h1>
<p>
  <i>Welcome to the Community Collective for Homelessness, an initiative for communinities to come together to help those who are in need.</i>
  <br>During COVID-19, many homeless shelters have either been forced to shut down or operate at limited capacity, and on top of that,
  shelter staff work part-time and have very little storage space to work with. To combat that, CCH aims to help shelters request
  just what they need so that benefactors can donate exactly that and minimize donation waste.
</p>
