<h1>Community Collective for Homelessness</h1>
<p>
  Welcome to the Community Collective for Homelessness, an initiative for communinities to come together to help those who are in need.
  During COVID-19, many homeless shelters have either been forced to shut down or operate at limited capacity, and on top of that,
  shelter staff work part-time and have very little storage space to work with. To combat that, CCH aims to help shelters request
  just what they need so that benefactors can donate exactly that and minimize donation waste.
</p>
<p>
  Devise is a user authenitification system for ruby on rails designed around
  another program called warden. You will not need to change anything regarding
  its settings unless you are changing login behavior, which is unlikely.
</p>
<p>
  To make a page not require login, add <mark>skip_before_action :authenticate_user!</mark>
  on top of the controller. To limit it to specific methods of a controller,
  tack on <mark>only: ['method_name']</mark> at the end of the line.
  You can add more than one method.
</p>
<h3>Bootstrap</h3>
<p>
  Bootstrap is a CSS and javascript library made by twitter to "bootstrap"
  website development. CSS can be very difficult to work with. Bootstrap
  makes it dramatically easier by giving you an entire library of premade
  classes. For more details,
  <a href="https://getbootstrap.com/docs/4.4/getting-started/introduction/">
    see the documentation</a>.
</p>
<%= render 'mvc' %>
<%= render 'filetree' %>
<%= render 'erb' %>
<hr>
<p>
  All in all, use the documentation in this template to your advantage!
  Stack Overflow has tons of resources for ruby on rails and your upperclassmen
  peers can probably give you a hand with rails questions should you need it.
  Plus, if you have a student aid to the class, <i>take advantage of them!</i>
</p>
<p>
  Good luck, and have a great semester!
</p>
<p>
  <i>Ethan Zeigler, '20</i>
</p>
