<h2>Resources</h2>
<p>
  <i>Find resources here about homelessness during COVID.</i>
  <br><br>
    <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/homeless-shelters/faqs.html">CDC Guidelines on Homeless During COVID</a><br>
    <a href="https://www.homelessshelterdirectory.org/cgi-bin/id/city.cgi?city=Trenton&state=NJ">A Directory of Homless Shelters in the Trenton Area</a>


</p>