<h2>Resources</h2>

<p>
  <i>Find resources here about homelessness during COVID.</i>
  <br><br>
    <p>For those displaced for in need</p>
    <a href="https://endhomelessness.org/how-to-get-help-experiencing-homelssness/">Get Help: A Guide from "End Homelessness"</a><br>
    <a href="https://www.homelessshelterdirectory.org/cgi-bin/id/city.cgi?city=Trenton&state=NJ">A Directory of Homeless Shelters in the Trenton Area</a><br>
    <a href="https://www.shelterlist.com/city/nj-trenton">A Directory of Mercer County Shelters and Emergency Housing</a><br>
    <a href="https://www.trentonsoupkitchen.org/">Trenton Area Soup Kitchen</a><br>
    <a href="https://arminarm.org/">Arm in Arm, a Trenton Food Bank</a>

    <br><br>
    <p>For those looking to help and learn</p>
    <i>Helping</i><br>
    <a href="https://www.coalitionforthehomeless.org/what-should-i-do-if/">What Should I Do If...</a><br>
    <a href="https://www.newsweek.com/how-you-can-help-homeless-coronavirus-pandemic-charity-donate-1492709">How You Can Help</a><br>
    <a href="https://rescuemissionoftrenton.org/volunteer/">Volunteer at Rescue Mission of Trenton (or at another local shelter)</a><br>


    <i>Learning</i><br>
    <a href="https://endhomelessness.org/fema-response-and-homelessness-during-covid-19/">FEMA Response and Homelessness During COVID-19</a><br>
    <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/homeless-shelters/faqs.html">CDC Guidelines on Homeless During COVID</a><br>
    <a href="https://www.statnews.com/2021/03/11/the-uncounted-people-who-are-homeless-are-invisible-victims-of-covid-19/">The Invisible Victims of COVID-19</a><br>
</p>
<figure>
  <%= image_tag("Digit.png", :alt => "Digit is simply ~vibing~") %>
   <figcaption><i>Digit thanks you for reading!</i></figcaption>
</figure>
