<h1>Add Item</h1>

<%= render 'form', post: @post %>

<p class="btn btn-outline-primary"><%= link_to 'Back', posts_path %></p>

<figure>
  <%= image_tag("birb.png", :alt => "birb appreciates you adding items") %>
   <figcaption><i>Birb appreciates you for adding items!</i></figcaption>
</figure>
